@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Last updated: February 20th, 2022</p>

<h2>Dolor</h2>
<p>Natoque potenti metus proin, faucibus <em>ligula</em> convallis mus natoque fringilla cum.<br />
    Accumsan suspendisse ullamcorper tempor aptent non leo felis <strong>ridiculus</strong> euismod<br />
    nulla vivamus hac netus suspendisse mauris potenti ultrices dapibus. Elementum.<br />
    Natoque nec tincidunt Auctor. Cras.</p>

<h2>Luctus</h2>
<p>At. Urna varius venenatis urna <em>imperdiet</em> placerat aenean aliquet. Rhoncus magnis<br />
    vivamus maecenas et praesent potenti aenean at sociosqu semper. Turpis feugiat<br />
    vivamus metus netus, dui.</p>

<p>Velit quam laoreet urna id purus leo gravida vulputate hendrerit ante sollicitudin<br />
    duis purus diam tincidunt posuere volutpat mollis Consectetuer erat a quisque metus<br />
    et arcu <strong>parturient</strong> sagittis <em>nonummy</em> litora pretium arcu nunc faucibus orci. <strong>Proin</strong><br />
    bibendum. Iaculis.</p>