@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HDSR</h1>
    <p>Welcome to the <a href="http://azureuniversity.azurewebsites.net/" target="_blank">Azure University</a> Help Desk Service Request system.</p>
    <p><a href="/ServiceRequests/Create">Create a new Service Request</a></p>
    <p><a href="/ServiceRequests">View existing Service Requests</a></p>
    <p><a href="/ServiceRequests/Open">View Open Service Requests</a></p>
</div>
